# PostgreSQL
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=

# Redis
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=6379

# Airflow
AIRFLOW_FERNET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

# MLflow
MLFLOW_ALLOWED_HOSTS=*
